.movie {
  width: 270px;
  margin: 3rem;
}

.movie img {
  max-width: 100%;
}

.movie-title {
  h2 {
    font-size: 20px;
    color: #e7e4e4;
  }
}
.movie-info {
  display: flex;
  justify-content: space-between;
  span {
    color: #919191;
    margin-left: 0.2rem;
    font-size: 1.2rem;
  }
  .rate {
    color: #fb8200;
    margin-left: 0.2rem;
  }
  .star {
    font-size: 20px;
    color: #fb8200;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
  }
  .votes {
    color: #919191;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
  }
}
